<header>
Users Management
</header>
<div class="col-sm-6 col-12 text-sm-end">
  <div class="mx-n1"  class="text-left">
    <a
      data-toggle="modal"
      data-target="#exampleModalCenter"
      class="btn d-inline-flex btn-sm mx-1"
    >
      <span class="badge rounded-pill bg-info text-dark"> <i class="bi bi-plus"></i> </span> <span>Create</span>
    </a>
  </div>
</div>
<!-- Button trigger modal -->

<!--Table -->

  <div class="grid">
  <ng-container *ngFor="let user of ListUsers">
  <div class="card" style="width: 18rem;">
    <img src="./../../../assets/user.png" class="card-img-top"/>
    <div class="card-body">
      <h5 class="card-title">id:{{user.id}}</h5>

    </div>
    <ul class="list-group list-group-light list-group-small">
      <li class="list-group-item px-4">{{user.firstName}}</li>
      <li class="list-group-item px-4">{{user.lastName}}</li>
      <li class="list-group-item px-4">{{user.email}}</li>
      <li class="list-group-item px-4">{{user.phone_num}}</li>
      <li class="list-group-item px-4">{{user.post_title}}</li>
      <li class="list-group-item px-4">{{user.hiring_date}}</li>
      <li class="list-group-item px-4">{{user.role}}</li>
    </ul>
    <div class="card-body">
        <button class="btn d-inline-flex btn-sm btn-neutral border-base mx-1" type="button"
        data-toggle="modal"
        data-target="#modifyUser"
        (click)="openModel(user)">
          <span class="pe-2"> <i class="bi bi-pencil"></i> </span> <span>Edit</span>
        </button>
        <button class="btn d-inline-flex btn-sm btn-danger border-base mx-1 "type="button"
        (click)="deleteUser(user.id)">
        <span class="pe-2"> <i class="bi bi-x-circle-fill"></i> </span> <span>Delete</span>
        </button>
    </div>
  </div>
</ng-container>
</div>
<!-- Model ajout user -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add User</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formulaire" (ngSubmit)="check()">
          <div class="form-group">
            <label for="Name">FirstName</label>
            <input
              type="text"
              class="form-control"
              id="Name"
              aria-describedby="NameHelp"
              placeholder="Enter your name please"
              formControlName="firstName"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputLastName">LastName</label>
            <input
              type="text"
              class="form-control"
              id="LastName"
              placeholder="Enter your last name please"
              formControlName="lastName"
            />
          </div>
          <div class="form-group">
            <label for="exampleInput">Role</label>
            <input
              type="text"
              class="form-control"
              id="exampleInput"
              placeholder="Enter your role"
              formControlName="role"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputJobTitle">Job title</label>
            <input
              type="text"
              class="form-control"
              id="JobTitle"
              placeholder="Enter your job title please"
              formControlName="post_title"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPhoneNumber">Phone Number</label>
            <input
              type="text"
              class="form-control"
              id="PhoneNumber"
              placeholder="Enter your Phone Number please"
              formControlName="phone_num"
            />
          </div>
          <div class="form-group">
            <label for="HiringDate">Hiring Date</label>
            <input
              type="date"
              class="form-control"
              id="HiringDate"
              placeholder="Enter your hiring date please"
              formControlName="hiring_date"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputemail">Email</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              id="email"
              placeholder="Enter your email please"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputpasswd">Password</label>
            <input
              type="password"
              class="form-control"
              id="passwd"
              placeholder="Enter your password please"
              name="password"
              formControlName="password"
            />
          </div>

          <h3>Entrez les coordonnées de votre voiture</h3>

          <div class="form-group">
            <label for="exampleInputMatricule">Matricule</label>
            <input
              type="text"
              class="form-control"
              formControlName="Matricule"
              id="Matricule"
              placeholder="Enter your matricule please"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputType">Type</label>
            <input
              type="text"
              class="form-control"
              formControlName="Type"
              id="Type"
              placeholder="Enter your type please"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Model modify user -->

<div
  class="modal fade"
  id="modifyUser"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modifyUser"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modify User</h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="modifyUsers(f)">
          <div class="form-group">
            <label for="exampleInputName">First Name</label>

            <input
              type="text"
              class="form-control"
              id="exampleInputName"
              placeholder="Enter your name please"
              [(ngModel)]="userModify.firstName"
              name="nom"
            />
          </div>

          <div class="form-group">
            <label for="exampleInputLastName">Last Name</label>

            <input
              type="text"
              class="form-control"
              id="exampleInputLastName"
              placeholder="Enter your last name please"
              name="prenom"
              [(ngModel)]="userModify.lastName"
            />
          </div>

          <div class="form-group">
            <label for="exampleInputLastName">Role</label>

            <input
              type="text"
              class="form-control"
              id="exampleInputrole"
              placeholder="Enter your role"
              name="role"
              [(ngModel)]="userModify.role"
            />
          </div>

          <div class="form-group">
            <label for="exampleInputJobTitle">Job title</label>

            <input
              type="text"
              class="form-control"
              id="exampleInputJobTitle"
              placeholder="Enter your job title please"
              name="titre_poste"
              [(ngModel)]="userModify.post_title"
            />
          </div>

          <div class="form-group">
            <label for="exampleInputPhoneNumber">Phone Number</label>

            <input
              type="text"
              class="form-control"
              id="exampleInputPhoneNumber"
              placeholder="Enter your Phone Number please"
              name="num_tel"
              [(ngModel)]="userModify.phone_num"
            />
          </div>

          <div class="form-group">
            <label for="exampleInputHiringDate">Hiring Date</label>

            <input
              type="date"
              class="form-control"
              id="dateEmbauche"
              placeholder="Enter your hiring date please"
              name="dateEmbauche"
              [(ngModel)]="userModify.hiring_date"
            />
          </div>

          <div class="form-group">
            <label for="exampleInputemail">Email</label>

            <input
              type="email"
              class="form-control"
              id="exampleInputemail"
              placeholder="Enter your email please"
              name="email"
              [(ngModel)]="userModify.email"
            />
          </div>

          <div class="form-group">
            <label for="exampleInputpasswd">Password</label>

            <input
            [type]="fieldTextType ? 'text' : 'password'"
              class="form-control"
              id="exampleInputpasswd"
              placeholder="Enter your password please"
              name="password"
              [(ngModel)]="userModify.password"
            />
            <div class="input-group-append">
              <span class="input-group-text">
                <i
                class="fa"
                [ngClass]="{
                  'fa-eye-slash': !fieldTextType,
                  'fa-eye': fieldTextType
                }"
                (click)="toggleFieldTextType()"
              ></i>
              </span>
           </div>
          </div>


          <h3>Entrez les coordonnées de votre voiture</h3>

          <div class="form-group">
            <label for="exampleInputMatricule">Matricule</label>

            <input
              type="text"
              class="form-control"
              id="exampleInputMatricule"
              placeholder="Enter your matricule please"
              name="matricule"
              [(ngModel)]="userModify.voitures.matricule"
            />
          </div>

          <div class="form-group">
            <label for="exampleInputType">Type</label>

            <input
              type="text"
              class="form-control"
              id="exampleInputType"
              placeholder="Enter your type please"
              name="type"
              [(ngModel)]="userModify.voitures.type"
            />
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>

            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
