.content {
  padding: 20px;
}

.content > mat-card {
  background-color: aliceblue;
}


.grid {
  text-align: center;
  width: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Create 2 columns and auto-place rows */
}

